/** @format */

$color-soft-gray: rgb(141, 125, 125);
$color-footer: #eee;

$color-dark-navy: rgb(24, 29, 49);
$color-light-green: rgb(103, 137, 131);
$color-light-beige: rgb(230, 221, 196);
$color-lighter-beige: rgb(240, 233, 210);

$color-scroll-bar: (rgba(0, 0, 255, 0.475));
$color-scroll-thumb1: (rgb(110, 36, 98));
$color-scroll-thumb2: (rgb(34, 169, 27));