// Main Colors
$color-main-background: #F5F5F5;
$color-primary:  #007BFF;
$color-secondary: #A9A9A9;
$color-accent-1: #28A745;
$color-accent-2: #212529;
$color-neutral: #F0F0F0;
$color-nav-bar: #007BFF;
$color-nav-logo: $color-accent-2;
$color-card: #fff;
$color-card-text: #000;
$color-profile-tabs: $color-secondary;
// Create Account Link Color
$color-create-account-link: rgb(105, 160, 255);

// Chat Header Background
$color-chat-header-bg: #C9BABA;

// Button Hover
$color-btn-hover: #2A5A82;

// Footer
$color-footer: hsl(228, 20%, 16%);
$color-footer-text: #F3DCDC;

// Scroll Bar
$color-scroll-bar: rgba(240, 240, 240, 0.475);
$color-scroll-thumb1: rgba(17, 58, 91, 0.6);
$color-scroll-thumb2: $color-accent-2;

// Splash Page
$color-card-splash: hsl(0, 0%, 100%);
$color-background-splash: $color-primary;
$color-hero-color1: hsla(26, 35%, 18%, 0.628);
$color-hero-color2: hsla(26, 41%, 22%, 0.715);

// Tasks
$color-trash: rgb(226, 58, 58);
$color-pen: rgb(226, 178, 58);
$color-check: rgb(58, 226, 106);

// layout
$font-size-title: 5rem;
$font-size-input: 2rem;
$font-size-task: 22px;

$margin-top-tasks: 20rem;
$margin-bottom-task: 20px;
$margin-icons: 2rem;

$padding-input: 2rem;
$padding-task: 10px 140px 10px 15px;

$border-radius-input: 2rem;
$border-radius-task: 6px;

$width-tasks: 65rem;
$min-width-input: 40rem;
$max-width-input: 60rem;

$height-input: 5rem;

$opacity-done: 0.3;