/** @format */

// Tasks
.tasks {
  margin: auto;
  margin-top: 20rem;
  min-height: 50vh;
  text-align: center;
  width: 80%;
  .tasks__input-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  &__title {
    color: rgb(173, 158, 158);
    font-size: 5rem;
    margin: 15rem;
  }
  &_icon {
    margin: 2rem;
    cursor: pointer;
  }
  .trash {
    color: rgb(226, 58, 58);
  }

  .pen {
    color: rgb(226, 178, 58);
  }

  .check {
    color: rgb(58, 226, 106);
  }
  &__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 2rem;
    border-radius: 2rem;
    font-size: 2rem;
    height: 5rem;
    max-width: 60rem;
    min-width: 40rem;
  }
}

.task.done .task__text,
.tasks__task-status--done {
  text-decoration: line-through;
  opacity: 0.3;
}

.tasks__task {
  display: flex;

  background-color: $color-lighter-blue;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}
