/** @format */

// Tasks
.tasks {
  h1{
    color: black;
  }
display: flex;
&__form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

flex-direction: column;
align-items: center;
  margin: auto;
  margin-top: $margin-top-tasks;
  text-align: center;
  width: $width-tasks;

  .tasks__input-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
  }

  &__title {
    align-self: center;
    font-size: $font-size-title;
    margin-bottom: 10rem;

  }

  &_icon {
    margin: $margin-icons;
    cursor: pointer;
  }

  .trash {
    color: $color-trash;
  }

  .pen {
    color: $color-pen;
  }

  .check {
    color: $color-check;
  }

  &__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: $padding-input;
    border-radius: $border-radius-input;
    font-size: $font-size-input;
    height: $height-input;
    max-width: $max-width-input;
    min-width: $min-width-input;
    @media (max-width: 768px) {
      min-width: 100%;
      max-width: 100%;
    }
  }
}

.task.done .task__text,
.tasks__task-status--done {
  text-decoration: line-through;
  opacity: $opacity-done;
}

.tasks__task {
  display: flex;
  background-color: $color-secondary;
  border-radius: $border-radius-task;
  margin-bottom: $margin-bottom-task;
  padding: $padding-task;
  text-align: left;
  font-size: $font-size-task;
  position: relative;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
