/** @format */

.chat {
  &__join {
    position: fixed;
    bottom: 25rem; //! THIS WILL BE DELETED WHEN ROOM ASSIGNMENT IS PASSIVE
  }
  .close_button{
    position: absolute;
    right: 7px;
    bottom: 21.9rem;
    z-index: 3;
  }


  &__header{
    position: absolute;
    left: 5px;
    bottom: 21.9rem;
    z-index: 3;
  }

  &__headerBackground{
    position: absolute;
    right: 0px;
    bottom: 210px;
    background-color: rgb(195, 186, 186);
    height: 4rem;
    z-index: 2;
    width: 31rem;
    border-radius: 1px;
  }
  position: fixed;
  right: 320px;
  bottom: 0px;
  background-color: #fff;
  height: 25rem;
  overflow: scroll;
  overflow-x: hidden;
  border-top: 0;
  border-bottom: 0;
  width: 30rem;
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    background-color: $color-scroll-bar;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(
      180deg,
      $color-scroll-thumb1 0%,
      $color-scroll-thumb2 99%
    );
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
  }
  display: flex;
  flex-direction: column-reverse;
  textarea[name='text'] {
    width: 100%;
    resize: none;
    border-radius: 8px;
    font-size: 2rem;
    line-height: 15px;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  button {
    background-color: $color-footer;
    padding: 0.8rem;
    border-radius: 8px;
    position: absolute;
    right: 2px;
    bottom: 11px;
    color: #fff;
  }
  border-radius: 8px;
}

.select {
  position: fixed;
  bottom: 0rem;
  right: 0px;
  width: 30rem;
  // background-color: ;
}


