.dashCard {
  background-color: $color-dark-navy;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  height: auto;
  min-height: 30rem;
  width: 60%;
  box-shadow: 0px 0px 5px 1px $color-lighter-beige;

  &__avatar {
    margin-right: 3rem;
  }

  &__title {
    position: absolute;
    top: 2rem;
    left: 16.5rem;
    font-size: 4rem;
    width: auto;
    color: $color-lighter-beige;
    font-weight: bold;
  }

  &__name {
    position: absolute;
    top: 15rem;
    left: 2.5rem;
    font-size: 1.5rem;
    padding: 0;
    color: $color-lighter-beige;
  }

  &__content {
    // position: relative;
    margin-top: 7rem;

    margin-right: 15rem;
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
    color: $color-lighter-beige;

  }

  &__tag {
    background-color: $color-background-splash;
    padding: 5px;
    border-radius: 5px;
  }

  &__delete {
    position: absolute;
    right: 3rem;
    top: 3rem;
    padding: 0%;
    background-color: $color-background-splash;
  }

  &__edit {
    position: absolute;
    right: 10rem;
    top: 3rem;
    padding: 0%;
    background-color: $color-background-splash;
  }


}

.dashModal {
  padding: 0%;

  &__editForm {
    width: 100%;
    height: 25rem;
    padding: 0%;

  }

  &__group {
    width: 100% !important;
  }

  &__check {
    position: absolute;
    left: 15rem;
    bottom: 2rem;
    padding: 0%;
    background-color: $color-background-splash;
  }

  &__delete {
    position: absolute;
    left: 5rem;
    bottom: 2rem;
    padding: 0%;
    background-color: $color-background-splash;
  }

  &__heading {
    color: $color-lighter-beige;
  }

  &__editFormInput {

    width: 100% !important;
  }
}

.reactions {
  margin-top: 20px;


  &__reactions-counter {
    display: flex;
    flex-wrap: wrap;
  }

  &__emoji-mart {
    z-index: 999;
  }

  &__emoji-mart-anchors {
    display: none;
  }

  &__emoji-mart-search {
    display: none;
  }

  &__emoji-mart-bar {
    display: none;
  }

  &__emoji-mart-scroll {
    overflow: auto;
    height: auto;
  }

  &__emoji-mart-category-label {
    display: none;
  }
}