.new_post_component {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 10rem;
  margin-top: 3rem;
  }

  .login__form {
  min-height: 80vh;
  }

  .create-account a {
  color: $color-create-account-link;
  text-decoration: underline;
  }
  .create-account {
  width: 100%;
  text-align: center;
  }