/** @format */

.header {
  &__group {
    background-color: $color-dark-navy;
    display: flex;
    align-items: center;
    height: 100%;
    padding-inline: 2em;

    &__nav {
      width: 600px;

      &__segment {
        background-color: $color-lighter-beige;
        height: 1.46em;
        width: 15.38em;
        align-items: center;
        border-radius: 4px;
      }

      &__signup {
        background-color: $color-lighter-beige;
        color: $color-dark-navy;
      }
    }

    &__mobileMenu {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: $color-lighter-blue;
      height: auto;
      width: auto;
    }
  }
}
