/** @format */

.header {
  &__group {
    background-color: $color-accent-1;
    display: flex;
    align-items: center;
    height: 100%;
    padding-inline: 2em;

    &__nav {
      width: 600px;

      &__segment {
        background-color: $color-neutral;
        height: 1.7em;
        max-width: 16.6em;
        align-items: center;
        border-radius: 4px;
      }

      &__signup {
        background-color: $color-neutral;
        color: $color-primary;
      }
    }

    &__mobileMenu {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: $color-secondary;
      height: auto;
      width: auto;
    }
  }
}
